.image-filter {
  display: block;
  margin: auto;
  mix-blend-mode: multiply;
  filter: contrast(1);
  height: 200px;
  width: 200px;
  background: none; 
}

.card-image:hover{
    transform: scale(1.1);
    transition: transform ease-in-out 0.3s;
}
